<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-2"></div>
            <div class="col-xl-6 col-lg-8 col-md-9 col-sm-10 col-11">
                <div class="warning m-3">
                    <p><span class="pr-2"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></span> If you able to work done with Ethical and Honesty, then 
                        register your service. Otherwise not register your service.</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-2"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
           
        </div>
    </div>
</section>