<section class="form">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-5 img">
                <img [src]="myImage1" alt="" class="d-none d-lg-block">
            </div>
            <div class="col-lg-7 px-5 pt-5">
                <h1 class="font-wight-bold py-3">Logo</h1>
                <h4>Sign into your account</h4>
                <div class="form-row">
                    <div class="col-lg-7">
                        <input type="email" placeholder="email" class="form-control my-2 p-3">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <input type="password" placeholder="password" class="form-control my-3 p-3">
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-lg-7">
                        <button type="button" class="btn btn-block btn-dark my-2">LogIn</button>
                    </div>
                </div>
                <p class="my-3"><a href="" >Forgot Password</a></p>
                <p class="my-3">Don't have an account ? <a routerLink="/signup">Register here!</a></p>
            </div>
        </div>
    </div>
</section>
