<section class="plumbing">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6">
                <div class="service-card text-center">
                    <div class="service-img text-center">
                      <img [src]="plumbing" alt="plumbing image" class="img-fluid">
                    </div>
                    <div class="service-info">
                      <h4 class="my-3">Plumbing</h4>
                      <p>Know more about plumber service</p>
                      <button class="btn btn-success" routerLink="/plumbingservice">Know More Here >>></button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="container-fluid">
        <div class="row  py-2 ml-1">
            <div class="col-md-2"></div>
            <div class="col-md-10 ">
                <div class="row technician_part  ">
                    <div class="col-xl-2 col-lg-3 col-md-4  text-center ">
                        <div class="tech_user my-2">
                            <img [src]="men1" alt="" class="img-fluid">
                        </div>
                        <div class="tech-info text-center my-2">
                            <h5>UserName</h5>
                        </div>
                    </div>
                    <!-- <div class="line d-none d-md-block"></div> -->
                    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12 my-2" >
                       <div class="row">
                           <div class="col-md-6">
                                <div class="rating text-center">
                                    <h2 class="mb-0">***</h2>
                                    <h5>Overall Rating</h5>
                                </div>
                           </div>
                           <div class="col-md-6">
                                <div class="job_completed text-center">
                                    <h2>561</h2>
                                    <h5>Job Completed</h5>
                                </div>
                           </div>
                       </div>
                       <div class="row my-3 mx-3 review">
                           <div class="col-md-1 user_review">
                                <div class="user_img">
                                    <p><i class="fa fa-user-circle-o" aria-hidden="true"></i></p>
                                </div>
                           </div>
                           <div class="col-md-11">
                               <div class="user_name">
                                   <h5 class="px-0 px-md-4 px-lg-0">Kadeval Sanket</h5>
                                   <p class="px-0 px-md-4 px-lg-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam et laboriosam soluta repudiandae sint culpa. Incidunt quae rerum temporibus </p>
                               </div>
                           </div>
                       </div>
                       <div class="row my-3 mx-3 review">
                        <div class="col-md-1 user_review">
                             <div class="user_img">
                                 <p><i class="fa fa-user-circle-o" aria-hidden="true"></i></p>
                             </div>
                        </div>
                        <div class="col-md-11">
                            <div class="user_name">
                                <h5 class="px-0 px-md-4 px-lg-0">Kadeval Sanket</h5>
                                <p class="px-0 px-md-4 px-lg-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam et laboriosam soluta repudiandae sint culpa. Incidunt quae rerum temporibus </p>
                            </div>
                        </div>
                    </div>
                    <p class="pl-3 text-center">View More</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row  py-2 ml-1">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="row technician_part  ">
                    <div class="col-xl-2 col-lg-3 col-md-4  text-center ">
                        <div class="tech_user my-2">
                            <img [src]="men1" alt="" class="img-fluid">
                        </div>
                        <div class="tech-info text-center my-2">
                            <h5>UserName</h5>
                        </div>
                    </div>
                    <!-- <div class="line d-none d-md-block"></div> -->
                    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-12 my-2" >
                       <div class="row">
                           <div class="col-md-6">
                                <div class="rating text-center">
                                    <h2 class="mb-0">***</h2>
                                    <h5>Overall Rating</h5>
                                </div>
                           </div>
                           <div class="col-md-6">
                                <div class="job_completed text-center">
                                    <h2>561</h2>
                                    <h5>Job Completed</h5>
                                </div>
                           </div>
                       </div>
                       <div class="row my-3 mx-3 review">
                           <div class="col-md-1 user_review">
                                <div class="user_img">
                                    <p><i class="fa fa-user-circle-o" aria-hidden="true"></i></p>
                                </div>
                           </div>
                           <div class="col-md-11">
                               <div class="user_name">
                                   <h5 class="px-0 px-md-4 px-lg-0">Kadeval Sanket</h5>
                                   <p class="px-0 px-md-4 px-lg-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam et laboriosam soluta repudiandae sint culpa. Incidunt quae rerum temporibus </p>
                               </div>
                           </div>
                       </div>
                       <div class="row my-3 mx-3 review">
                        <div class="col-md-1 user_review">
                             <div class="user_img">
                                 <p><i class="fa fa-user-circle-o" aria-hidden="true"></i></p>
                             </div>
                        </div>
                        <div class="col-md-11">
                            <div class="user_name">
                                <h5 class="px-0 px-md-4 px-lg-0">Kadeval Sanket</h5>
                                <p class="px-0 px-md-4 px-lg-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam et laboriosam soluta repudiandae sint culpa. Incidunt quae rerum temporibus </p>
                            </div>
                        </div>
                    </div>
                    <p class="pl-3 text-center">View More</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>